---
const { adata } = Astro.props;
---
<section>
  <div class="flex w-full flex-col gap-4 overflow-hidden">
    <div class="flex w-full flex-col gap-4">
      <h2 class="md:ts-headline-5 text-2xl font-semibold leading-8 text-gray-800 dark:text-white">作者</h2>
      <div class="grid w-full grid-cols-2 gap-2 gap-y-3">
        {adata.socials.map(social => 
        <div class="group relative flex flex-row gap-2">
          <div class="relative h-[42px] w-[42px] min-w-[42px] overflow-hidden rounded-[5px] bg-gray-100">
            <img alt={social.name} class="h-full w-full object-contain transition-all duration-[0.3s] ease-[cubic-bezier(.175,0.885,0.32,1.275)] group-hover:scale-[1.1]" sizes="48px" src={social.avatar} />
          </div>
          <div class="flex flex-col overflow-hidden">
            <div class="ts-body-3 line-clamp-1 font-bold text-gray-800 before:absolute before:left-0 before:top-0 before:h-full before:w-full before:cursor-pointer hover:opacity-80 active:opacity-[inherit] dark:text-white">{social.name}</div>
            <div class="author-socials relative mt-2 flex h-[20px] w-[20px] select-none space-x-2 self-center text-gray-500 dark:text-white lg:h-[24px] lg:w-[24px]">
               <a class="social-link" href={social.url}><i class={social.icon} /></i></a>
            </div>
          </div>
        </div>
        )}
      </div>
    </div>
  </div>
</section>