---
const { gddata } = Astro.props;
---
<div class="w-full md:w-[240px] md:min-w-[240px] lg:w-[340px] lg:min-w-[340px]">
  <div class="relative top-3 md:sticky lg:top-8 lg:pb-8">
    <div class="flex w-full flex-col gap-3">
      <div class="relative aspect-[360/170] w-full overflow-hidden rounded-[5px] bg-gray-100"><img alt="Thumbnail" class="h-full w-full object-cover" sizes="340px" src={gddata.coverImage} aria-label="Thumbnail" /></div>
      <div class="flex flex-row flex-wrap gap-3 gap-y-2">
        {gddata.systems.map(system =>
          <div class="relative inline-block h-[20px] w-[20px] select-none self-center text-gray-500 lg:h-[24px] lg:w-[24px]"><i class={`${system.icon}" w-full h-full block align-middle`}></i></div>)}
        <div class="grid w-full auto-rows-min grid-cols-1 flex-col gap-3 gap-y-3 sm:grid-cols-2 md:flex">
          <div class="flex min-h-full flex-col gap-1">
            <div class="font-bold leading-5 text-gray-800 dark:text-white">支持语言：</div>
            <div class="flex flex-row flex-wrap gap-y-2">
              {gddata.languages.map(language => <span class="hover:opacity-80 focus:shadow-none active:opacity-[inherit]"><div class="relative mr-2 flex cursor-pointer select-none flex-row items-center gap-1 whitespace-nowrap rounded-[5px] bg-gray-100 px-2 text-xs leading-6 text-gray-500 hover:bg-gray-200 hover:text-gray-700 active:bg-gray-100 active:text-gray-500 dark:bg-gray-200 md:py-[2px] md:text-sm">{language}</div></span>)}
            </div>
          </div>
          <div class="flex min-h-full flex-col gap-1">
            <div class="font-bold leading-5 text-gray-800 dark:text-white">标签：</div>
            <div class="flex flex-row flex-wrap gap-y-2">
              {gddata.tags.map(tag => <span class="hover:opacity-80 focus:shadow-none active:opacity-[inherit]"><div class="relative mr-2 flex cursor-pointer select-none flex-row items-center gap-1 whitespace-nowrap rounded-[5px] bg-gray-100 px-2 text-xs leading-6 text-gray-500 hover:bg-gray-200 hover:text-gray-700 active:bg-gray-100 active:text-gray-500 dark:bg-gray-200 md:py-[2px] md:text-sm">{tag}</div></span>)}
            </div>
          </div>
          <div class="flex min-h-full flex-col gap-1">
            <div class="font-bold leading-5 text-gray-800 dark:text-white">相关链接：</div>
            <div class="grid w-full grid-cols-2 gap-2 gap-y-1">
              <div class="relative flex gap-2 text-sm leading-5 text-gray-600">
                {gddata.links.map(link => <a class="line-clamp-1 self-center before:absolute before:left-0 before:top-0 before:h-full before:w-full before:cursor-pointer hover:opacity-80 active:opacity-[inherit]" rel="noopener noreferrer nofollow noindex ugc" target="_blank" href={link.url}><i class={`${link.icon} w-[1em] h-[1em] inline-block leading-[1em] shrink-0 text-current self-center align-middle`}></i>{link.name}</a>)}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

